@import url('https://fonts.googleapis.com/css?family=Ubuntu');
html {
    background: -moz-linear-gradient(left, rgba(24, 24, 24, 1) 0%, rgba(0, 0, 0, 1) 33%, rgba(0, 0, 0, 1) 64%, rgba(24, 24, 24, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(24, 24, 24, 1)), color-stop(33%, rgba(0, 0, 0, 1)), color-stop(64%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(24, 24, 24, 1)));
    background: -webkit-linear-gradient(left, rgba(24, 24, 24, 1) 0%, rgba(0, 0, 0, 1) 33%, rgba(0, 0, 0, 1) 64%, rgba(24, 24, 24, 1) 100%);
    background: -o-linear-gradient(left, rgba(24, 24, 24, 1) 0%, rgba(0, 0, 0, 1) 33%, rgba(0, 0, 0, 1) 64%, rgba(24, 24, 24, 1) 100%);
    background: -ms-linear-gradient(left, rgba(24, 24, 24, 1) 0%, rgba(0, 0, 0, 1) 33%, rgba(0, 0, 0, 1) 64%, rgba(24, 24, 24, 1) 100%);
    background: linear-gradient(to right, rgba(24, 24, 24, 1) 0%, rgba(0, 0, 0, 1) 33%, rgba(0, 0, 0, 1) 64%, rgba(24, 24, 24, 1) 100%);
    font-size: 16px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

h3,
h4 {
    font-weight: 400;
}

input {
    width: 192px;
    height: 1.5em;
    border-radius: 1em;
    border-style: solid;
    padding-left: 0.5em;
    padding-right: 0.5em;
    z-index: 0;
}

body {
    width: 60%;
    min-height: 100%;
    margin: auto;
    border-left: 3px dashed #3e3e3e;
    border-right: 3px dashed #3e3e3e;
    background-color: black;
    color: white;
    padding: 0.5em;
}

.popup {
    display: table;
    position: fixed;
    top: 0%;
    height: 100%;
    width: 100%;
    left: 0%;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%);
    z-index: 2048;
}

.popup-text-contain {
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.00);
}

.popup-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 45%;
    color: black;
    text-align: center;
    border-radius: 2em;
    padding: 0.75em;
    background-color: rgba(255, 255, 255, 0.80);
    -moz-box-shadow: 0 0 8px rgba(255, 255, 255, 0.80);
    -webkit-box-shadow: 0 0 8px rgba(255, 255, 255, 0.80);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.80);
}

a {
    color: white;
    cursor: pointer;
    border-radius: 2em;
    padding: 0.35em;
    padding-left: 0.85em;
    padding-right: 0.85em;
    background-color: rgba(128, 128, 128, 0.50);
    text-decoration: none;
}

a:hover {
    color: black;
    cursor: pointer;
    border-radius: 2em;
    padding: 0.35em;
    padding-left: 0.85em;
    padding-right: 0.85em;
    background-color: rgba(255, 255, 255, 0.50);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.80);
    -moz-box-shadow: 0 0 8px rgba(255, 255, 255, 0.80);
    -webkit-box-shadow: 0 0 8px rgba(255, 255, 255, 0.80);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.80);
}

#notif-container {
    position: fixed;
    top: -32px;
    left: 16px;
    z-index: 40960;
}

.error-contain {
    background-color: red;
    color: white;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0.75em;
    -moz-box-shadow: 0 0 8px rgb(255, 0, 0);
    -webkit-box-shadow: 0 0 8px rgb(255, 0, 0);
    box-shadow: 0px 0px 8px rgb(255, 0, 0);
    
    transform: scale(1);
    z-index: 40960;
}

.warning-contain {
    background-color: rgb(255, 255, 0);
    color: black;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0.75em;
    -moz-box-shadow: 0 0 8px rgb(255, 255, 0);
    -webkit-box-shadow: 0 0 8px rgb(255, 255, 0);
    box-shadow: 0px 0px 8px rgb(255, 255, 0);
    
    transform: scale(1);
    z-index: 40960;
}

.debug-sidemenu {
    display: table-cell;
    vertical-align: middle;
    position: fixed;
    right: -295px;
    top: 25%;
    padding: 0.2em;
    padding-top: 0.6em;
    padding-left: 0.8em;
    border-radius: 8px;
    width: 292px;
    background-color: rgb(128,0,0);
    -moz-box-shadow: 0 0 4px rgb(255, 0, 0);
    -webkit-box-shadow: 0 0 4px rgb(255, 0, 0);
    box-shadow: 0px 0px 4px rgb(255, 0, 0);
    transition: all 1s;
    z-index: 4096;
}

.debug-sidemenu>strong {
    position: relative;
    padding: 0.4em;
    left: -8px;
    border-radius: 8px;
    width: 192px;
    padding-right: 4.5em;
    background-color: rgb(255,0,0);
}

.debug-sidemenu:hover {
    display: table-cell;
    vertical-align: middle;
    position: fixed;
    right: -104px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    font-size: 12px;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.85;
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.80);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.80);
}

.hoverable {
  opacity: 0.5;
}